/*navbar-component CSS*/

@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

h1,
label.form-label,
button.btn.btn-success.btn-lg,
form {
  font-family: "Arvo", serif;
}

.navbar {
  background-color: #00809f;
  height: 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
  font-family: "Arvo", serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  border: 0;
  width: 100%;
  padding: 0 150px;
  margin: 0 auto;
}

.capstone-logo {
  height: 65px;
}

.nav-header-left {
  margin-left: 20px;
  margin-top: 10px;
}

.nav-header-right {
  margin-top: 10px;
  margin-left: 500px;
}

/*landing-component*/
.card-header {
  font-family: "Lato", sans-serif;
  height: 75vh;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  overflow: hidden;
/*   background: linear-gradient(rgba(0, 108, 145, 0.8), rgba(0, 51, 68, 0.8)),
    url("./images/network.jpg"); */
  background: url("./images/network.jpg");
  background-size: cover;
  background-position: center;
}

.project-header {
  background: linear-gradient(rgba(0, 108, 145, 0.8), rgba(0, 51, 68, 0.8)),
    url("./images/projects.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
}

.text-overlay-header {
  position: absolute;
  top: 30%;
}

.card-text {
  font-size: 20px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.row-header {
  color: rgb(74, 74, 74);
display: block;
font-family: proxima-nova;
font-size: 22px;
font-style: normal;
font-weight: normal;
height: 26px;
letter-spacing: 2px;
line-height: 26.399999618530273px;
margin-block-end: 11px;
margin-block-start: 0px;
margin-bottom: 11px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
text-align: center;
text-rendering: optimizeLegibility;
text-transform: uppercase;

}

.row-content {
  color: rgba(26, 26, 26, 0.7);
display: block;
padding:"10px 30px 10px 30px";
font-family: adobe-garamond-pro;
font-size: 18px;
font-style: normal;
font-weight: normal;
height: 56px;
letter-spacing: normal;
line-height: 28.799999237060547px;
margin-block-end: 18px;
margin-block-start: 18px;
margin-inline-end: 0px;
margin-inline-start: 0px;
text-align: center;
word-wrap: break-word;
}

.banner-tl {
  color: rgb(255, 255, 255);
display: block;
font-family: Arial, Helvetica, sans-serif;
font-size: 68px;
font-style: normal;
font-weight: bold;
height: 100px;
letter-spacing: 4px;
line-height: 68px;
text-align: center;
text-rendering: optimizeLegibility;
text-transform: none;
white-space: pre-wrap;

}
.banner-title {

  font-weight: 900;
  /* text-shadow: 2px 2px 2px black; */
}

.btn-info {
  top: 40px;
}

.card-login {
  height: 300px;
}

.card-projects {
  height: 300px;
  text-align: right;
}

.card-register {
  height: 300px;
}

.card-body {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
}

.btn {
  width: 150px;
  position: relative;
  margin: 0 auto;
  display: block;
  text-align: center;
}

/*dashboard-component*/
.divider-section {
  height: 60px;
  color: #00809f;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  padding-top: 15px;
}

.header-title {
  text-align: center;
  color: #fff;
}

.title {
  font-weight: 800;
}

/* footer component */
.footer {
  padding: 17px 15px;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  font-size: 12px;
  color: #fff;
}

.UC-Img {
  height: 35px;
}

.nav-item {
  text-decoration: none !important;
  margin-right: 20px;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255, 0.8) !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255) !important;
}


/* dashboard-component*/
.dash-header {
  color: #fff;
  text-shadow: 1px 1px 2px black;
  margin-top: 40px;
}

/* About us/Sponsors/Past Projects component*/

.Banner-Top {
  height: 40vh;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background: linear-gradient(
    rgba(22, 128, 155, 0.774),
    rgba(23, 37, 99, 0.774)
  );
}

.About-Banner {
  color: #fff;
  margin-left: 170px;
  margin-right: 400px;
}
#banner-header {
  text-shadow: 3px 3px 3px black;
  margin-top: 100px;
}

.card-about {
  height: 40vh;
  position: relative;
  width: 100vh;
}
