/*navbar-component CSS*/
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap");

.carousel-inner > .item {
  height: 400px;
}

h1,
label.form-label,
button.btn.btn-success.btn-lg,
form {
  font-family: "Nunito", sans-serif;
}

.button {
  color: red;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: red !important;
}

.buttonBlue {
  background-color: rgb(51, 136, 185);
}

.navbar {
  background-color: rgba(51, 136, 185);
  height: 70px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
  font-size: 18px;
  border: 0;
  font-family: "Nunito", sans-serif;
}

.capstone-logo {
  height: 75px;
}

.nav-header-left {
  margin-left: -50px;
  margin-top: 10px;
}

.nav-header-right {
  margin-top: 10px;
  margin-left: 450px;
}

/*landing-component*/
.card-header {
  font-family: "Nunito", sans-serif;
  height: 75vh;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  overflow: hidden;
  background: linear-gradient(rgba(56, 56, 56, 0.8), rgba(18, 19, 19, 0.8)),
    url("./images/network.jpg");
  background-position: center;
  padding: 0;
  margin: 0;
}

.past-project-header {
  font-family: "Lato", sans-serif;
  height: 75vh;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  overflow: hidden;
  background: linear-gradient(rgba(56, 56, 56, 0.3), rgba(18, 19, 19, 0.3)),
    url("./images/tech-BG.jpg");

  background-size: cover;
  background-position: center;
}

.sponsor-card-header {
  font-family: "Nunito", sans-serif;
  height: 75vh;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  overflow: hidden;
  background: linear-gradient(rgba(41, 1, 78, 0.8), rgba(18, 19, 19, 0.8)),
    url("./images/projects.png");

  background-size: cover;
  background-position: center;
}
.addProject-header,
.addGroup-header {
  background-color: linear-gradient(
    rgba(0, 108, 145, 0.8),
    rgba(0, 51, 68, 0.8)
  );
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
}

.text-overlay-header {
  position: absolute;
  top: 30%;
}

.card-text {
  font-size: 20px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.row-header {
  color: rgb(6, 5, 56);
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  height: 26px;
  letter-spacing: 1px;
  line-height: 26.399999618530273px;
  margin-block-end: 11px;
  margin-block-start: 0px;
  margin-bottom: 11px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  padding-top: 20px;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.row-content {
  color: rgba(26, 26, 26, 0.7);
  display: block;
  padding: "10px 60px 10px 60px";
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  height: 56px;
  letter-spacing: normal;
  line-height: 28.799999237060547px;
  margin-block-end: 30px;
  margin-block-start: 30px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  text-align: center;
  word-wrap: break-word;
}

.banner-tl {
  color: rgb(61, 171, 235);
  display: block;
  font-family: "Nunito", sans-serif;
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  height: 100px;
  letter-spacing: 4px;
  line-height: 68px;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: pre-wrap;
}
.banner-title {
  font-weight: 900;
  /* text-shadow: 2px 2px 2px black; */
}

.btn-info {
  top: 40px;
}

.card-login {
  height: 300px;
}

.card-projects {
  height: 300px;
  text-align: right;
}

.card-register {
  height: 300px;
}

.card-body {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
}

.btn {
  width: 150px;
  position: relative;
  margin: 0 auto;
  display: block;
  text-align: center;
}

/*dashboard-component*/
.divider-section {
  height: 60px;
  color: #00809f;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  padding-top: 15px;
}

.header-title {
  text-align: center;
  color: #fff;
}

.title {
  font-weight: 800;
}

/* footer component */
.footer {
  padding-top: 50px;
  padding-left: 15px;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  font-size: 12px;
  color: #fff;
}

.UC-Img {
  height: 35px;
}

.nav-item {
  text-decoration: none !important;

  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255, 0.8) !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255) !important;
}

/* dashboard-component*/
.dash-header {
  color: #fff;
  text-shadow: 1px 1px 2px black;
  margin-top: 40px;
}

/* About us/Sponsors/Past Projects component*/

.Banner-Top {
  height: 40vh;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background: linear-gradient(
    rgba(22, 128, 155, 0.774),
    rgba(23, 37, 99, 0.774)
  );
}

.About-Banner {
  color: #fff;
  margin-left: 170px;
  margin-right: 400px;
}
#banner-header {
  text-shadow: 3px 3px 3px black;
  margin-top: 100px;
}

.card-about {
  height: 40vh;
  position: relative;
  width: 100vh;
}

/* About Component */
.about-card-header {
  font-family: "Lato", sans-serif;
  height: 75vh;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  overflow: hidden;
  background: linear-gradient(rgba(41, 1, 78, 0.7), rgba(18, 19, 19, 0.7)),
    url("./images/fiber-optic.jpg");
  background-size: cover;
  background-position: center;
}

/* Past Projects Component */
.container-accordion {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.bkg-white{
  background-color: #fff;
}
.accordion-title {
  font-size: 25px;
  font-weight: 900;
  margin-top: 10px;
  margin-left: 40%;
  margin-right: 40%;
}

.subtext {
  font-size: 18px;
  font-weight: 400;
  margin-left: 2%;
  margin-top: 10px;
}

.past-projects-table {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: -110px;
}

.thead-dark {
  font-size: 23px;
}

tr {
  line-height: 25px;
  min-height: 25px;
  height: 200px;
}

.header-banner {
  color: white;
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  height: 100px;
  letter-spacing: 4px;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: pre-wrap;
  padding-top: 40px;
}


