/*navbar-component CSS*/
.navbar{
    background-color: #00809F;
    height: 100px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,1);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    border: 0;
    width: 100%;
    padding: 0 150px;
    margin: 0 auto;
}

.capstone-logo{
    height: 65px;
}

.nav-header-left {
    margin-left: 20px;
    margin-top: 10px;
}

.nav-header-right {
    margin-top: 10px;
    margin-left: 200px;
}

/*landing-component*/
.card-header {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    overflow: hidden;
    background: linear-gradient(rgba(0, 108, 145, 0.8), rgba(0, 51, 68, 0.8)), url("./images/uccampus.jpg");
    background-size: cover;
    background-position: center;
}

.text-overlay-header{
    position: absolute; 
    top: 30%;
}

.card-text {
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
}

.banner-title {
    font-weight: 900;
    text-shadow: 2px 2px 2px black;; 
}

.btn-info{
    top: 40px;
}

.card-login{
    height: 300px;
}

.card-projects {
    height: 300px;
    text-align: right;
}
  
.card-register {
    height: 300px;
}

.card-body {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
  }


.btn {
    width: 150px;
    position: relative;
    margin: 0 auto;
    display: block;
    text-align: center;
}


/*dashboard-component*/
.divider-section {
    height:60px;
    color: #00809F;
    border-top: 1px solid rgba(0,0,0,.1);
    display: block;
    padding-top: 15px;
  }
  
.header-title {
    text-align: center;
    color: #fff;
}


.title {
    font-weight: 800;
}

/* footer component */
.footer {
    padding: 17px 15px;
    border-top: 1px solid rgba(120,130,140,0.13);
    font-size: 12px;
    color: #fff;
}

.UC-Img{
    height: 35px;
}
 
.nav-item{
    text-decoration: none !important;
    margin-right: 20px;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
   
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255,0.8) !important
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255) !important;
}

/*login-component*/
.login-bkg {
    height: 100vh;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    background: linear-gradient(rgba(22, 128, 155, 0.774), rgba(23, 37, 99, 0.774)), url("./images/login-background.jpeg");
    background-size: cover;
}

.login-area {
    margin-top: 150px;
}

.login-title{
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}

.btn-lg {
    width: 100%;
    text-align: center;
}

/* dashboard-component*/
.dash-header {
    color: #fff;
    text-shadow: 1px 1px 2px black;
    margin-top: 40px;
}

/* about-us-component*/

.Banner-Top {
    height: 40vh;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    background: linear-gradient(rgba(22, 128, 155, 0.774), rgba(23, 37, 99, 0.774));
}

.About-Banner {
    color: #fff;
    margin-left: 170px;
    margin-right: 400px;

}
#banner-header{
    text-shadow: 3px 3px 3px black;
    margin-top: 100px;
}

.card-about {
    height: 40vh;
    position: relative;
}
